div.container.text-center.td-arrow-down {
  text-align: start !important;
}

.td-page-meta__view,.td-page-meta__edit,.td-page-meta__child,.td-page-meta__issue,.td-page-meta__project-issue,.td-page-meta>#print { display: none !important; }


#td-cover-block-0 {
  background-image: radial-gradient(circle, #FCD116 0%, #003F87 100%);
}