div.container.text-center.td-arrow-down {
  text-align: start !important;
}

.td-page-meta__view,.td-page-meta__edit,.td-page-meta__child,.td-page-meta__issue,.td-page-meta__project-issue,.td-page-meta>#print { display: none !important; }


#td-cover-block-0 {
  background-image: radial-gradient(circle, #FCD116 0%, #003F87 100%);
  h1.display-1 {
    background-color: #00000080;
  }
}

.td-box--0 {
  background-color: $white;
  color: $blue;
}

.nav-link {
  color: #ffffff;
}

.card.leader {
  max-width: 14rem;
}

.card.leader .card-title {
  font-size: 1.5rem;
}



.td-box--1 .btn.btn-lg.btn-primary {
  background-color: $yellow;
  border-color: $blue;
}

.bg-lion {
  background-color: $lion !important;
  color: $black !important;
}

.bg-tiger {
  background-color: $tiger !important;
  color: $black !important;
}
.bg-wolf {
  background-color: $wolf !important;
  color: $black !important;
}
.bg-bear {
  background-color: $bear !important;
  color: $black !important;
}
.bg-webelos {
  background-color: $webelos !important;
  color: $black !important;
}
.bg-aol {
  background-color: $aol !important;
  color: $black !important;
}

.bg-cubblue {
  background-color: $cubblue !important;
  color: $cubgold !important;
}

.card.leader .leader-blurb {
  --max-lines: 3;
  --lh: 1.5rem; /* line height */
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem; /* space for ellipsis */
}
.card.leader .leader-blurb::before {
  position: absolute;
  content: "...";
  inset-block-end: 0; /* "bottom" */
  inset-inline-end: 0; /* "right" */
}
.card.leader .leader-blurb::after {
  content: "";
  position: absolute;
  inset-inline-end: 0; /* "right" */
  width: 1rem;
  height: 1rem;
  background: white;
}