/*

Add styles or override variables from the theme here.

*/


$blue: #2d5867;
$red: #bd0300;
$yellow: #ffd700;
$green: #3e8d01;
$secondary: #F6F3EF;
$orange: #e55d00;

$lion: #EEC250;
$tiger: #DA834C;
$wolf: #C6443F;
$bear: #9FC2DC;
$webelos: #8E9F63;
$aol: #E9D8C5;
$cubblue: #002F6D;
$cubgold: #FFCE04;

$blurb-max-lines: 3;